<!DOCTYPE html>
<html>
    <head>
        <script src="{{ asset('js/postResponse.js', 'adfs') }}"></script>
    </head>
    <body>
        <form method="post" action="{{ wreply }}">
            <input type="hidden" name="wa" value="wsignin1.0">
            <input type="hidden" name="wresult" value="{{ wresult }}">
            <input type="hidden" name="wctx" value="{{ wctx }}">
            <noscript>
                <input type="submit" value="Continue">
            </noscript>
        </form>
    </body>
</html>
